<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 读取属性配置文件: project-sample-web.properties, 用于xml中直接使用配置属性 -->
    <bean id="propertyConfigurer" class="com.thinking.project.sample.web.core.util.PropertiesUtil">
        <property name="fileEncoding" value="utf-8" />
        <property name="locations">
            <list>
                <value>classpath*:project-sample-web.properties</value>
            </list>
        </property>
    </bean>

</beans>